---
import PostsList from "@/components/post/PostsList.svelte";
import siteConfig from "@/config/site-config";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/lib/utils/posts";

const posts = await getPosts("blog");

function activeLink(pathname: string) {
	return (
		Astro.url.pathname.replace(/\/+/g, "/").replace(/\/$/, "") === pathname
	);
}
---

<Layout
  title="Blog"
  description="List of all the blog posts."
  pageNav={true}
  pageOperate={true}
>
  <div class="mb-8 flex flex-wrap gap-2 sm:flex-row sm:gap-4">
    {
      siteConfig.page.blogLinks.map((nav) => (
        <a
          aria-label={nav.text}
          class={`nav-link text-3xl font-semibold ${activeLink(nav.href) ? 'opacity-80' : 'opacity-30 hover:opacity-50'}`}
          href={nav.href}
        >
          {nav.text}
        </a>
      ))
    }
  </div>
  <PostsList posts={posts}  />
</Layout>
