---
import { Image } from "astro:assets";
import logoDark from "@/assets/images/logo-dark.svg";
import logoLight from "@/assets/images/logo-light.svg";
import siteConfig from "@/config/site-config";
import ThemeToggle from "../ThemeToggle.astro";

const { navLinks } = siteConfig.header;
---

<header class="mb-12 flex w-full flex-wrap py-8 text-sm sm:flex-nowrap sm:justify-start md:py-12">
	<nav
		class="relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center"
		aria-label="global"
	>
		<a
			class="hidden flex-none font-serif text-lg font-bold md:block md:text-2xl"
			href="/"
			aria-label="Brand">pictogrammer<span class="text-teal-500">.</span></a
		>
		<a class="block flex-none font-serif md:hidden" href="/" aria-label="Brand">
			<Image src={logoLight} alt="Logo" class="w-14 dark:hidden" />
			<Image src={logoDark} alt="Logo" class="hidden w-14 dark:block" />
		</a>

		<!-- Desktop Navigation -->
		<div class="hidden flex-row items-center justify-center gap-x-5 md:flex">
			{
				navLinks.map((link) => (
					<a
						href={link.href}
						class="hover:text-foreground/75 flex-none font-medium"
						aria-label={link.text}
					>
						{link.text}
					</a>
				))
			}
			<ThemeToggle />
		</div>

		<!-- Mobile Navigation -->
		<nav
			class="flex flex-row items-center justify-center gap-x-4 md:hidden"
			aria-label="Mobile Navigation"
		>
			{
				navLinks.map((link) => (
					<a
						href={link.href}
						class="hover:text-foreground/75 flex items-center p-2 focus:ring-1 focus:ring-offset-1 focus:outline-none"
						aria-label={link.text}
					>
						<span class={`iconify ${link.icon}`} />
					</a>
				))
			}
			<ThemeToggle />
		</nav>
	</nav>
</header>
