---
import { Image } from "astro:assets";
import logoDark from "@/assets/images/logo-dark.svg";
import logoLight from "@/assets/images/logo-light.svg";
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import siteConfig from "@/config/site-config";

const { navLinks } = siteConfig.header;
---

<header class="mb-10 flex w-full flex-wrap py-8 text-sm sm:flex-nowrap sm:justify-start md:py-12">
	<nav
		class="relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center"
		aria-label="global"
	>
		<a class="flex flex-none" href="/" aria-label="pictogrammer logo">
			<Image
				src={logoLight}
				alt="pictogrammer logo"
				class="w-12 md:w-14 lg:w-16 dark:hidden"
				loading="eager"
				fetchpriority="high"
			/>
			<Image
				src={logoDark}
				alt="pictogrammer logo"
				class="hidden w-12 md:w-14 lg:w-16 dark:block"
				loading="eager"
				fetchpriority="high"
			/>
		</a>

		<!-- Desktop Navigation -->
		<div class="hidden flex-row items-center justify-center gap-x-5 md:flex">
			{
				navLinks.map((link) => (
					<a
						href={link.href}
						class="text-muted-foreground hover:text-foreground flex-none font-medium transition-colors"
						aria-label={link.text}
					>
						{link.text}
					</a>
				))
			}
			<ThemeToggle />
		</div>

		<!-- Mobile Navigation -->
		<nav
			class="flex flex-row items-center justify-center gap-x-4 md:hidden"
			aria-label="Mobile Navigation"
		>
			{
				navLinks.map((link) => (
					<a
						href={link.href}
						class="text-muted-foreground hover:text-foreground flex items-center p-2 transition-colors focus:ring-1 focus:ring-offset-1 focus:outline-none"
						aria-label={link.text}
					>
						<span class={`iconify ${link.icon}`} />
					</a>
				))
			}
			<ThemeToggle />
		</nav>
	</nav>
</header>
