---
import { Icon } from "astro-icon/components";
import type { Tool } from "@/lib/constants/tools";
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
	title: string;
	tools: Tool[];
}
const { class: className, title, tools, ...props }: Props = Astro.props;
---

<section class={cn(className, "flex flex-col gap-y-4")} {...props}>
	<h2 class="text-muted-foreground text-sm font-medium tracking-wider uppercase">{title}</h2>
	<div class="flex flex-col">
		{
			tools.map((tool) => (
				<a
					class="group hover:bg-muted/30 -mx-3 flex flex-row items-center gap-x-4 rounded-lg px-3 py-3 transition-colors"
					href={tool.href}
					id={tool.name}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon name={tool.iconPath} class="text-muted-foreground aspect-square h-8 w-8" />
					<div class="flex flex-col gap-y-0.5">
						<span class="font-medium">{tool.name}</span>
						<span class="text-muted-foreground text-sm">{tool.description}</span>
					</div>
				</a>
			))
		}
	</div>
</section>
