---
import { Icon } from "astro-icon/components";
import type { Tool } from "@/lib/constants/tools";
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
	title: string;
	tools: Tool[];
}
const { class: className, title, tools, ...props }: Props = Astro.props;
---

<section class={cn(className, "flex flex-col gap-y-4")} {...props}>
	<h2 class="text-muted-foreground text-sm font-medium tracking-wider uppercase">{title}</h2>
	<div class="grid grid-cols-3 gap-2 sm:grid-cols-5 md:grid-cols-6">
		{
			tools.map((tool) => (
				<a
					class="group hover:bg-muted/20 flex flex-col items-center gap-y-2 rounded-lg p-5 text-center transition-colors"
					href={tool.href}
					id={tool.name}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon
						name={tool.iconPath}
						class="text-muted-foreground group-hover:text-foreground aspect-square h-8 w-8 transition-colors"
					/>
					<span class="text-muted-foreground group-hover:text-foreground text-xs font-medium transition-colors">
						{tool.name}
					</span>
				</a>
			))
		}
	</div>
</section>
