---
import BlogTabs from "@/components/blog/BlogTabs.astro";
import PostPreview from "@/components/post/PostPreview.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
import { getPostsByPath, groupPostsByYear } from "@/lib/utils";

interface Props {
	activeTab: "posts" | "notes" | "reflective";
	title: string;
	description: string;
	path?: string;
	emptyMessage?: string;
}

const { activeTab, title, description, path, emptyMessage } = Astro.props;

const allPosts = await getPostsByPath(path);
const postsByYear = groupPostsByYear(allPosts);
const empty = emptyMessage ?? `No ${title.toLowerCase()} yet.`;
---

<PageLayout {title} {description} pageType="website">
	<div class="flex w-full flex-col gap-y-12">
		<div class="flex w-full flex-col">
			<BlogTabs {activeTab} />

			<div class="flex max-w-xl flex-col">
				{description && <p class="text-muted-foreground">{description}</p>}
			</div>
		</div>

		{allPosts.length === 0 && <p class="text-muted-foreground">{empty}</p>}

		{
			allPosts.length > 0 && (
				<div class="flex flex-col gap-y-20">
					{[...postsByYear.entries()].map(([year, posts]) => (
						<section class="relative">
							<div class="text-muted-foreground/10 pointer-events-none absolute -top-8 -left-4 text-xl font-bold select-none md:-left-8 md:text-9xl">
								{year}
							</div>
							<ul class="group/list relative flex flex-col">
								{posts.map((post) => (
									<PostPreview post={post} />
								))}
							</ul>
						</section>
					))}
				</div>
			)
		}
	</div>
</PageLayout>
