---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getReadTimeCount } from "@/lib/utils";
import FormattedDate from "../FormattedDate.astro";

interface Props {
	content: CollectionEntry<"post">;
}

const { content } = Astro.props;

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<header class="flex flex-col items-center justify-center gap-4">
	<div class="flex flex-col items-center gap-3">
		<div class="text-muted-foreground flex items-center gap-2 text-sm">
			<FormattedDate date={new Date(content.data.date)} dateTimeOptions={dateTimeOptions} />
			<span>·</span>
			<span>{getReadTimeCount(content.body!)} min read</span>
		</div>
		<h1 class="text-center text-2xl leading-tight font-semibold md:text-3xl">
			{content.data.title}
		</h1>
		{
			content.data.tags.length > 0 && (
				<div class="flex flex-wrap items-center justify-center gap-2">
					{content.data.tags.map((tag) => (
						<a
							href={`/tags/${tag}/`}
							class="bg-muted text-muted-foreground hover:text-foreground rounded-full px-3 py-1 text-xs transition-colors"
						>
							{tag}
						</a>
					))}
				</div>
			)
		}
	</div>
</header>

<>
	{
		content.data.coverImage && (
			<Image
				src={content.data.coverImage.src}
				width={1000}
				height={500}
				quality={100}
				format="jpg"
				loading="eager"
				class="my-8 max-h-[300px] w-full rounded-lg object-cover md:max-h-[400px]"
				alt={content.data.coverImage.alt || content.data.title}
			/>
		)
	}
</>
