---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import type { Education } from "@/types";

interface Props {
	educations: Education[];
}

const { educations }: Props = Astro.props;
---

<Section title="Education">
	{
		educations.map((education) => (
			<Card
				heading={education.institution}
				subheading={education.degree}
				date={education.period}
				altText={education.institution}
				imageClass="h-12 w-auto md:-left-16"
			>
				<p>Courseworks: </p>
				<span>
					{education.coursework.map((course, index) => (
						<span class="text-muted-foreground text-sm">
							{course}
							{index !== education.coursework.length - 1 ? ", " : ""}
						</span>
					))}
				</span>
			</Card>
		))
	}
</Section>
