---
import type { HTMLAttributes } from "astro/types";
import InfoPanel from "@/components/ui/InfoPanel.astro";
import Heading from "./Heading.astro";

type AsideItem = {
	title: string;
	meta?: string;
	href?: string;
};

interface Props extends HTMLAttributes<"aside"> {
	title: string;
	items: AsideItem[];
	itemTitleClass?: string;
	itemMetaClass?: string;
	itemArticleClass?: string;
	listClass?: string;
}

const {
	title,
	items,
	itemTitleClass = "text-sm leading-relaxed font-medium",
	itemMetaClass = "text-muted-foreground mt-1 text-xs tracking-wide",
	itemArticleClass = "py-4",
	listClass = "divide-border/60 flex flex-col divide-y",
	...attrs
}: Props = Astro.props;
---

<aside {...attrs} aria-label={title}>
	<InfoPanel title={title} contentClass="p-0">
		<div class={listClass}>
			{
				items.map((item) => {
					const content = (
						<article class={itemArticleClass}>
							<Heading as="h3" class={itemTitleClass}>
								{item.title}
							</Heading>
							{item.meta && <p class={itemMetaClass}>{item.meta}</p>}
						</article>
					);
					return item.href ? (
						<a href={item.href} rel="noopener noreferrer" target="_blank">
							{content}
						</a>
					) : (
						content
					);
				})
			}
		</div>
	</InfoPanel>
</aside>
